#chart1{
    text-align: center;    
}

#chart1 .bar-title{
    font-size: 18px;
    font-weight: bold;
}

#chart1 svg{    
    padding: 10px;
}

.bar{
    fill: lightgreen;
    stroke: green;
    stroke-width: 1px;
}


.tooltip{
    position: absolute;
    background-color: #f4f4f4;
    border: 1px solid #606060;
    padding: 4px 6px;
    border-radius: 3px;
    opacity: 0;
}