#chart2{
    margin-top: 50px;
    text-align: center;
}
#chart2 svg{
    background: #f6f6f6;    
}

.tooltip{
    position: absolute;
    background-color: #f4f4f4;
    border: 1px solid #606060;
    padding: 4px 6px;
    border-radius: 3px;
    opacity: 0;
}